
[submodule "Core/TemportalEngineEditor/libs/freetype"]
	path = Core/TemportalEngineEditor/libs/freetype
	url = git@github.com:ubawurinna/freetype-windows-binaries.git
[submodule "Core/TemportalEngineEditor/libs/imgui"]
	path = Core/TemportalEngineEditor/libs/imgui
	url = git@github.com:temportalflux/imgui.git
[submodule "Core/TemportalEngine/libs/cereal"]
	path = Core/TemportalEngine/libs/cereal
	url = git@github.com:USCiLab/cereal
[submodule "Core/TemportalEngine/libs/vulkan"]
	path = Core/TemportalEngine/libs/vulkan
	url = git@github.com:KhronosGroup/Vulkan-Headers.git
[submodule "Core/TemportalEngine/libs/VulkanMemoryAllocator"]
	path = Core/TemportalEngine/libs/VulkanMemoryAllocator
	url = git@github.com:GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "Core/TemportalEngine/libs/assimp"]
	path = Core/TemportalEngine/libs/assimp
	url = git@github.com:assimp/assimp.git
[submodule "Core/TemportalEngine/libs/PhysX"]
	path = Core/TemportalEngine/libs/PhysX
	url = git@github.com:NVIDIAGameWorks/PhysX.git
[submodule "Core/TemportalEngineEditor/libs/imgui-node-editor"]
	path = Core/TemportalEngineEditor/libs/imgui-node-editor
	url = git@github.com:thedmd/imgui-node-editor.git
