.vs/
Binaries
output
packages
recordings
*.png
*.obj
*.zip
Core/TemportalEngineEditor/libs/shaderc
*.lib
*.blend1
*.fbx
*.blend
Core/TemportalEngine/libs/GameNetworkingSockets-package
Core/TemportalEngine/libs/OpenSSL
