[submodule "input-actions"]
	path = input-actions
	url = https://github.com/temportalflux/input-actions
[submodule "vulkan-rs"]
	path = vulkan-rs
	url = https://github.com/temportalflux/vulkan-rs
[submodule "editor/bin/freetype"]
	path = editor/bin/freetype
	url = git@github.com:PistonDevelopers/binaries.git
