
[submodule "libs/Vulkan"]
	path = libs/Vulkan
	url = git@github.com:KhronosGroup/Vulkan-Headers.git
[submodule "libs/cereal"]
	path = libs/cereal
	url = https://github.com/USCiLab/cereal
[submodule "libs/glm"]
	path = libs/glm
	url = git@github.com:g-truc/glm.git
[submodule "TemportalEngineEditor/libs/imgui"]
	path = TemportalEngineEditor/libs/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "TemportalEngine/libs/freetype"]
	path = TemportalEngine/libs/freetype
	url = git@github.com:ubawurinna/freetype-windows-binaries.git
[submodule "libs/VulkanMemoryAllocator"]
	path = libs/VulkanMemoryAllocator
	url = git@github.com:GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
